/* index.css */

* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

body {
  background-color: rgb(225, 225, 225);
  margin-top: 4rem;
  line-height: 1.6;
  color: #333;
}

p {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: justify;
  hyphens: auto;
}

h2 {
  font-size: 1.4rem;
  padding: 1rem;
}

.welcome {
  text-align: center;
}

.content-wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 4rem); /* Subtracting 4rem to account for the top margin of the body */
}
